h1 {
    text-align: center;
    text-decoration: solid;
}

html {
    background-image: -webkit-linear-gradient(top, green, white);
    background-image: -moz-linear-gradient(top, green, white);
    background-image: -o-linear-gradient(top, green, white);
    background-image: -ms-linear-gradient(top, green, white);

}
.guess-cont {
    text-align: center;
}
#submitButton {
    margin: 10px;
}
#gameBoard {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#winMessage {
    display: none;
    align-items: center;
    font-size: 2rem;
    margin-top: 20px;
    color: blue;

}

.letter-box {
    border: 3px solid black;
    border-radius: 4px;
    margin: 3px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.filled-box {
    border: 2px solid grey;
}
.letter-row {
    display: flex;
}


#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}
.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

